/* Centraliza o conteúdo dentro do mat-card */
mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
  padding: 20px;
}


.column-flex{
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.loading-spinner{
  width: 95%;
  padding: 25px;
  background-color: rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;

}
